@font-face {
  src: url("/fonts/Belgan_Aesthetic.ttf") format('truetype');
  font-family: "Belgan";
}
@font-face {
  src: url("/fonts/Qalisso.otf") format("opentype");
  font-family: "Qalisso";
}
* {
    margin : 0;
}
body {
    width: 100vw;
    background-color: #12103A;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
}
.sectionNom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #12103a;
    padding-bottom: 15px;
    margin: 10px 0 10px 0;
    display: flex;
    z-index: 1;
}
.lignes.a {
    max-width: 70%;
}
.liens {
    width: 20%;
    display: flex;
    flex-direction: column;
}
.titres {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-style: none;
    border-radius: 35px;
    padding: 15px;
    margin: 100px 0 100px 0;
}
.divSticky {
    width: 100%;
    position: sticky;
    top: 10%;
    height: 0;
}
.divEtoiles {
    width: 100%;
    z-index: -1;
}
.titres.a-propos {
    background-color: #12103A;
}
.titres.a-propos:nth-child(3) {
    align-self: flex-end;
}
.titres img {
    width: 90%;
    max-width: 800px;
    margin: auto;
}
nav ul {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    padding: 0;
}
.logoDiv {
    width: 40%;
    display: flex;
    justify-content: center;
}
.logo {
    height: 100%;
}
a {
    width: 100%;
    color: #FFF9EE;
    font-size: 40px;
    text-decoration: none;
    font-family: "Belgan";
    transition: box-shadow 0.7s ease;
}
a:hover {
    color:#393666;
    box-shadow: inset 0 -70px 0 0 #BEE6FF;
    border-radius: 10px 10px 0 0;
}
.containerNom {
    height: 450px;
    max-height: 100vh;
    text-align: center;
    margin-bottom: 100px;
}
h1, h2, h3 {
    color : #BEE6FF; 
    text-align: center;
    font-family: "Qalisso";
    margin: 15px;
    font-weight: lighter;
}
h1 {
    width: 50%;
    font-size: 10vw;
    transform: translate(50%, -250%);
    max-width: 1100px;
}
h2 {
    width: 100%;
    font-size: 80px;
    
}
h3 {
    color: #FFF9EE;
    font-size: 35px;
    margin-top: 30px;
}
p {
    color: #FFF9EE;
    font-family: "Belgan";
    font-size: 30px;
    display: flex;
    align-items: center;
}
.frame {
    width: 60vw;
    align-self: center;
    transform: translate(0, -100%);
}
.planete {
    width: 40vw;
    transform: translate(-80%, -10%);
}
.sectionaPropos {
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-image: url(./imgs/fond_a-propos.jpg);
    background-size: cover;
    padding: 100px 0 200px 0;
}
.text {
    width: 60%;
    padding: 30px;
    background-color: #12103a;
    border-radius: 30px;
    color:#FFF9EE;
    font-family: "Belgan";
    font-size: 30px;
}
.separation {
    width: 40%;
    margin: 100px;
    justify-self: center;
}
.text img {
    width: 60%;
}
.textContainer {
    width: 80%;;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.textContainer .text:nth-child(4) {
    align-self: flex-end;
}
.sectionNom, .sectionProjets, .sectionContact, .sectionCompetences {
    width: 100%;
}
.sectionProjets {
    padding: 100px 0 100px 0;
    height: 100%;
    background-image: url("./imgs/fond_projets.jpg");
    background-repeat: no-repeat;
    background-size:auto 80vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titres.projets {
    margin: 0;
    padding: 0;
    width: 50%;
}
.imgProjet {
    width: 50%;
    max-height: 100vh;
}
.projet {
    transform: translateY(-100px)
}
.frameImg {
    width: 100%;
}
.sectionCompetences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#3F3982, #BEE6FF);
}
.skillContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px;
}
.containerbar {
    width: 20%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bar {
    margin: 15px;
    width: 100%;
    background-color: white;
    height: 25px;
    border-style: none;
    border-radius: 35px;
}
.bar.html {
    width: 90%;
}
.bar.javascript {
    width: 70%;
}
.bar.css {
    width: 90%;
}
.bar.javascript, .bar.html, .bar.css {
    margin: 0;
    background-color:#393666;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bar.html::after, .bar.css::after, .bar.javascript::after {
    content:url("./imgs/etoile_comp.png");
    height: auto;
    width: 50px;
    filter: drop-shadow(0 0 10px #BEE6FF);
}
.containerbar h3 {
    align-self: flex-start;
}
.titres.comp {
    width: 40%;
    margin: 0;
    padding: 0;
}
.divLogos {
    display: grid;
    gap: 20px;
    margin: 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.icon.ae {
    grid-area: 1/ 3/ 2/ 4;
}
.icon.ps {
    grid-area: 3/ 2/ 3/ 1;
}
.icon.maya {
    grid-area: 4/ 2/ 4/ 2;
}
.icon.clip {
    grid-area: 4/ 3/ 4/ 4;
}
.icon.unity {
    grid-area: 4/ 3/ 3/ 4;
}
.icon.vs {
    grid-area: 3/ 3/ 3/ 2;
}
.icon.ai {
    grid-area: 3/ 4/ 4/ 4;
}
.icon.touch {
    grid-area: 2/ 4/ 3/ 4;
}
.icon.fig {
    grid-area: 3/ 3/ 2/ 4;
}
.icon.davinci {
    grid-area: 2/ 2/ 3/ 4;
}
.icon.git {
    grid-area: 2/ 1/ 2/ 1;
}
.icon.lr {
    grid-area: 1/ 2/ 2/ 2;
}
.icon img {
    width: 100%;
    filter: drop-shadow(0 0 5px white);
}
.divLogos img {
    width: 130px;
}
.sectionContact {
    background-color: #3F3982;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divContact {
    width: 50%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.messageFin {
    margin: 50px;
}
.mail, .phone {
    margin: 0 10px 0 10px;
}
.mail::before {
    content: url(./imgs/envelope.png);
    display: inline-block;
    margin: 0 15px 0 15px;
}
.phone::before {
    content:url(./imgs/phone-alt.png);
    margin: 0 15px 0 15px;
}
@media screen and (max-width: 1230px) { 
    .divEtoiles{
        width: 100%;
        position: relative;
        text-align: center;
    }
    .etoile-1, .etoile-2, .etoile-3, .etoile-4 {
        position: absolute;
    }
    .etoile-1 {
        transform: scale(0.5); left: 0; top: 100px;
    }
    .etoile-2 {
        top: 200px; left: 5%; transform: scale(0.3);
    }
    .etoile-3 {
        top: 80px; left: 80%; transform: scale(0.4);
    }
    .etoile-4 {
       left: 75%;  transform: scale(0.3);
    } 
 }
    @media screen and (min-width: 1230px) {
        .divEtoiles{
        width: 100%;
        position: relative;
        text-align: center;
    }
    .etoile-1, .etoile-2, .etoile-3, .etoile-4 {
        position: absolute;
    }
    .etoile-1 {
        transform: scale(0.7); left: 0; top: 100px;
    }
    .etoile-2 {
        top: 200px; left: 5%; transform: scale(0.3);
    }
    .etoile-3 {
        top: 80px; left: 85%; transform: scale(0.6);
    }
    .etoile-4 {
       left: 75%;  transform: scale(0.5);
    } 
 }
  @media screen and (max-width: 850px) {
    .divSticky {
        width: 100%;
        text-align: center;
    } 
    .divEtoiles{
        width: 100%;
        position: sticky;
    }
    .etoile-1, .etoile-2, .etoile-3, .etoile-4 {
        position: absolute;
    }
    .etoile-1 {
        transform: scale(0.4); top: 60px;
    }
    .etoile-2 {
        top: 100px; transform: scale(0.3);
    }
    .etoile-3 {
        top: 50px; left: 70%; transform: scale(0.4);
    }
    .etoile-4 {
       left: 65%;  transform: scale(0.3);
    } 
    a {
        font-size: clamp(2rem, 2.5rem, 3rem);
    }
    .sectionaPropos {
        padding: 0;
    }  
    .containerNom {
        margin-bottom: 0;
    }
    .separation {
        margin-top: 0;
    }
 }
 @media screen and (max-width: 400px) {
    html {
        overflow-x: hidden;
    }
    .divSticky {
        display: none;
    } 
    a {
        font-size: 1rem;
    }
    nav {
        position: sticky;
        top: 0;
        background-color: #12103a00;
    }
    .logoDiv, ul {
        display: inline;
        float: left;
    }
    .liens {
        display: none;
    }
    .sectionNom { 
        width: 100%;
        height: 50vh;
    }
    .sectionaPropos {
        padding: 0;
    }  
    .containerNom {
        margin-bottom: 0;
    }
    .frame {
        width: 80vw;
        transform: translate(0, -110%);
    }
    .planete {
        width: 80vw;
        transform: translateX(-50%);
    }
    h1 {
        width: 80%;
        font-size: 15vw;
        transform: translateY(-240%);
        text-align: center;
        margin: auto;
    }
    h2 {
        font-size: 3rem;
        margin: 5px;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        font-size : 20px;
    }
    .textContainer, .sectionaPropos {
        width: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
    }
    .textContainer {
        margin: 0 0 50px 0;
    }
    .textContainer .text:nth-child(4), .titres.a-propos:nth-child(3) {
        align-self: center;
    }
    .separation {
        margin: 50px;
        width: 80%;
    }
    .titres.projets, .titres.a-propos  {
        width: 80%;
    }
    .sectionProjets {
        background-size:100vh;
        background-color: black;
        padding: 0;
    }
    .imgProjet {
        width: 90%;
    }
    .skillContainer {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .containerbar {
        width: 70%;
        margin: 20px;
    }
    .divLogos {
        width: 80%;
        text-align: center;
        display: inline;
    }
    .divLogos img {
        margin: 15px 0 15px 0;
    }
 }